use_mise() {
  direnv_load mise direnv exec
}

use mise
use flake

unset IN_NIX_SHELL
export DOTFILES_DIR="${PWD?}"

dotenv_if_exists .env
dotenv_if_exists .env.local
source_env_if_exists .envrc.local
