#! /bin/sh

export DOTFILES_DIR="$PWD"
export NIX_USER_CONF_FILES="$PWD/nix.conf"

watch_file devenv.nix
watch_file devenv.yaml
watch_file devenv.lock
watch_file flake.nix

use flake

unset IN_NIX_SHELL
