use_mise() {
  direnv_load mise direnv exec
}

use mise
# use flake

export DOTFILES_DIR="${PWD?}"
export MISE_AUTO_ENV=1

dotenv_if_exists .env
dotenv_if_exists .env.local
unstrict_env source_env_if_exists .envrc.local
