tags
TAGS
.idea
.deps
.data
**/*.qcow*
*.o
*.so
*.bak
*.elc
*.iml
*.ipr
*.iws
*.local
*.local
*.swp
*.zwc
*.tokens
*.interp
*zcompdump*
*~
.DS_Store
.\#*
.cache
.cache
.calva
.classpath
.cpcache
.devenv*
.dir-locals-2
.direnv
.nrepl-history
.nrepl-port
.nrepl-port
.portal
.rebel_readline_history
.rebl
.settings
.socket-repl-port
.venv
antigen-shapshot
classes/
devenv.local.nix
node_modules/
repl-result-out
result
sqlite.db
target/
.clj-kondo/
