[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
	shallow = true
[submodule "vim"]
	path = vim
	url = git@github.com:SpaceVim/SpaceVim.git
[submodule "local/src/things.sh"]
	path = local/src/things.sh
	url = https://github.com/AlexanderWillner/things.sh.git
