#--------------------------------------------------------------------------------------------------
# Appearance
#--------------------------------------------------------------------------------------------------
bold-is-bright = true
font-family =
font-family-bold =
font-family-italic =
font-family-bold-italic =
font-style =
font-style-bold =
font-style-italic =
font-style-bold-italic =
font-synthetic-style =
font-feature =
font-size =
font-variation =
font-variation-bold =
font-variation-italic =
font-variation-bold-italic =
font-codepoint-map =
font-thicken =
font-thicken-strength =
alpha-blending =
adjust-cell-width =
adjust-cell-height =
adjust-font-baseline =
adjust-underline-position =
adjust-underline-thickness =
adjust-strikethrough-position =
adjust-strikethrough-thickness =
adjust-overline-position =
adjust-overline-thickness =
adjust-cursor-thickness =
adjust-cursor-height =
adjust-box-thickness =
grapheme-width-method =
freetype-load-flags =
theme = dark:catppuccin-frappe,light:catppuccin-latte
background-blur = true
background-opacity = 0.8
selection-foreground =
selection-background =
minimum-contrast =
palette =
cursor-color =
cursor-opacity =
cursor-style =
cursor-style-blink =
cursor-text =
cursor-click-to-move = true
#--------------------------------------------------------------------------------------------------
# Application
#--------------------------------------------------------------------------------------------------
auto-update = check
auto-update-channel = tip
app-notifications = clipboard-copy
#--------------------------------------------------------------------------------------------------
# Window
#--------------------------------------------------------------------------------------------------
window-theme = dark
window-decoration = true
window-padding-x = 8
window-padding-y = 4
window-inherit-working-directory = true
window-inherit-font-size = true
window-vsync = true
window-colorspace = display-p3
window-new-tab-position = current
#--------------------------------------------------------------------------------------------------
# Clipboard
#--------------------------------------------------------------------------------------------------
clipboard-read = ask
clipboard-write = allow
clipboard-trim-trailing-spaces = true
clipboard-paste-protection = true
clipboard-paste-bracketed-safe = true
copy-on-select = false
#--------------------------------------------------------------------------------------------------
# Inputs
#--------------------------------------------------------------------------------------------------
mouse-hide-while-typing = true
confirm-close-surface = true
#--------------------------------------------------------------------------------------------------
# Shell Integration
#--------------------------------------------------------------------------------------------------
shell-integration = detect
shell-integration-features = cursor,sudo,title
#--------------------------------------------------------------------------------------------------
# Quick Terminal
#--------------------------------------------------------------------------------------------------
quick-terminal-position = center
quick-terminal-screen  = main
quick-terminal-animation-duration = 0
quick-terminal-autohide = true
quick-terminal-space-behavior = move
#--------------------------------------------------------------------------------------------------
# MacOS
#--------------------------------------------------------------------------------------------------
macos-titlebar-style = native
macos-titlebar-proxy-icon = hidden
macos-window-shadow = false
macos-auto-secure-input = true
macos-secure-input-indication = true
# macos-hidden = true # https://github.com/ghostty-org/ghostty/issues/4538
# macos-option-as-alt = true
