[Desktop Entry]
Version=1.0
Name=Org-Protocol
Exec=/usr/bin/emacs %u
Icon=emacs
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
StartupWMClass=Emacs
Keywords=Text;Editor;
